REAL_FEED_ENABLED=false
REAL_FEED_PROVIDER=the_odds_api
THE_ODDS_API_KEY=
THE_ODDS_API_SPORT=soccer_italy_serie_a
THE_ODDS_API_REGIONS=eu
THE_ODDS_API_MARKETS=h2h
THE_ODDS_API_ODDS_FORMAT=decimal
THE_ODDS_API_DATE_FORMAT=iso
REAL_FEED_POLL_INTERVAL_MS=30000
REAL_FEED_INCLUDE_MOCK=false
MAX_QUOTE_SKEW_MS=15000
NEAR_MISS_ALERT_THRESHOLD=1.005
NEAR_MISS_STRONG_THRESHOLD=1.002
BETFAIR_EXCHANGE_COMMISSION_PCT=2
MATCHBOOK_EXCHANGE_COMMISSION_PCT=2
MIN_REQUIRED_LIQUIDITY=100
TARGET_STAKE_SIZE=100
ENABLE_BOOKMAKER_FILTER=true
ALLOWED_BOOKMAKERS=pinnacle,betfair,matchbook,codere_it,bet365,williamhill
DENIED_BOOKMAKERS=onexbet,betonlineag,betanything,everygame,gtbets
